.ios, .md {

	photo-tilt {

		.mask img {

			max-width: none;

			-webkit-transition: -webkit-transform 0.2s linear;
			-moz-transition: -moz-transform 0.2s linear;
			-ms-transition: -ms-transform 0.2s linear;
			transition: transform 0.2s linear;

			-webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);

		}

	}

}